body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    height: auto;
}

header {
    background-color: #239d27;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer {
    background-color: #f2f2f2;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.card{
    width:270px;
    height: 270px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.card:hover{
    box-shadow: 2px 2px 2px solid green;
}
.card img{
    width:270px;
    height: 150px; 
}
