@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    overflow-x: hidden;
  }

  section {
    padding: 60px ;
  }

  .section-bg {
    background-color: #eeeef5;
  }

  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }

  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #434175;
  }

  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #5a5af3;
    bottom: 0;
    left: calc(50% - 25px);
  }

  .section-title p {
    margin-bottom: 0;
  }

.color1{
    color: rgb(157, 17, 222);
}
.btn-bg,
.btn-b
{
    background: linear-gradient(to right, #7f00ff, #e100ff);
    color: rgb(248, 246, 249);
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 5px;
}
.btn-bg:hover{
    border-color: #e100ff;
    color: rgb(66, 7, 202)!important;
    background: white!important;
}
  a {
    text-decoration: none;
    color: rgb(195, 90, 243);
  }

  a:hover {
    color: rgb(195, 90, 243);
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }

  .bouton {
    color: white!important;
    background: linear-gradient(to right, #7f00ff, #e100ff);
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    font-weight: bold;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 5px;
}

.bouton:hover {
    border-color: #e100ff;
    color: rgb(66, 7, 202)!important;
    background: white!important;
}

  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: linear-gradient(to right, #7f00ff, #e100ff);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }

  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }

  .back-to-top:hover {
    background: #e15af3;
    color: #fff;
  }

  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    background: #fff;
  }

  #header.header-scrolled,
  #header.header-inner-pages {
    padding: 12px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }


  #header .logo img {
    max-height: 60px;
  }

  @media (max-width: 992px) {
    #header {
      padding: 12px 0;
    }
  }

  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation
  */
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    color: #434175;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #e15af3;
  }

  .navbar .getstarted,
  .navbar .getstarted:focus {
    padding: 6px 25px;
    margin-left: 30px;
    border-radius: 50px;
    color: #e15af3;
    border: 2px solid #e15af3;
  }

  .navbar .getstarted:hover,
  .navbar .getstarted:focus:hover {
    color: #fff;
    background: linear-gradient(to right, #7f00ff, #e100ff);
  }



  /**
  * Mobile Navigation
  */
  .mobile-nav-toggle {
    color: #434175;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }

  .mobile-nav-toggle.bi-x {
    color: #fff;
  }

  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }

    .navbar ul {
      display: none;
    }
  }

  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(48, 47, 84, 0.9);
    transition: 0.3s;
  }

  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }

  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #434175;
  }

  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #5a5af3;
  }

  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
    background: linear-gradient(to right, #7f00ff, #e100ff);
  }

  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }



   /*--------------------------------------------------------------
  # Chercheur inscription Menu
  --------------------------------------------------------------*/
  /**
  *
  */

  #sect-cher1
  {
    width: 100%;
    height: 85vh;
    background: url("../images/student.jpg") top right no-repeat;
    background-size: cover;
    position: relative;
  }



  #sect-cher1 h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #ffffff;
  }

  #sect-cher1 h1 span {
    color: #a110ea;
  }

  #sect-cher1 h2 {
    color: #f7f1f1;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
  }

 .btn-get-started {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: #f8f8fe;
    background: #9310ea;
  }


  .btn-get-started:hover {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: rgb(252, 17, 252);
    --btn-bg-2: rgb(59, 12, 214);
    --btn-bg-color: rgb(255, 255, 255);
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.9em 1.4em;
    min-width: 120px;
    min-height: 44px;
    font-size: var(--size, 1rem);
    font-family: "Segoe UI", system-ui, sans-serif;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgba(255, 71, 255, 0.5), 0px 5px 5px -1px rgba(233, 58, 224, 0.25), inset 4px 4px 8px rgba(236, 54, 242, 0.5), inset -4px -4px 8px rgba(216, 19, 213, 0.35);
  }

  .btn-get-started:hover {
    background-position: right top;
  }

  .btn-get-started:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
  }

  @media (prefers-reduced-motion: reduce) {
    .btn-get-started {
      transition: linear;
    }
  }
  @media (min-width: 1024px) {
    #sect-cher1 {
      background-attachment: fixed;
    }
  }

  @media (max-width: 768px) {
    #sect-cher1{
      height: 100vh;
    }

    #sect-cher1 h1 {
      font-size: 28px;
      line-height: 36px;
    }

    #sect-cher1 h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }

  }

  @media (max-height: 500px) {
    #sect-entriprise {
      height: 120vh;
    }
  }



  /*--------------------------------------------------------------
  # section1-accueil Section
  --------------------------------------------------------------*/
  #section1-accueil {
    width: 100%;
    height: 75vh;
    background: url("../images/cover00.jpg") top left;
    background-size: cover;
    position: relative;
  }

  #section1-accueil:before {
    content: "";
    background: rgba(224, 224, 224, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #section1-accueil, .container {
    position: relative;
  }

  #section1-accueil h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #222222;
    font-family: "Poppins", sans-serif;
  }

  #section1-accueil h1 span {
    color: #a110ea;
  }

  #section1-accueil h2 {
    color: #555555;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
  }

  #section1-accueil .btn-get-started {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #106eea;
  }

  #section1-accueil .btn-get-started:hover {
    background: #247cf0;
  }

  #section1-accueil .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    color: #222222;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  @media (min-width: 1024px) {
    #section1-accueil {
      background-attachment: fixed;
    }
  }

  @media (max-width: 768px) {
    #section1-accueil {
      height: 100vh;
    }

    #section1-accueil h1 {
      font-size: 28px;
      line-height: 36px;
    }

    #section1-accueil h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }

  }

  @media (max-height: 500px) {
    #section1-accueil {
      height: 120vh;
    }
  }

  #carouselExampleCaptions {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    padding-bottom: 10px;

  }

  .carousel-item img {
    width:400px;
    height: 90vh;
    background-size: cover;
    position: relative;
  }
  .carousel-caption h5 {
    color: #070707; /* Couleur du texte */
  }

  .carousel-caption p {
    color: #0f0e0e; /* Couleur du texte */
  }

  #sect-ent1
  {
    width: 100%;
    height: 85vh;
    background: url("../images/image04.jpg") top right no-repeat;
    background-size: cover;
    position: relative;
  }

  /*--------------------------------------------------------------
  #sect-entreprise Section
  --------------------------------------------------------------*/
  #sect-entreprise {
    width: 100%;
    height: 75vh;
    position: absolute;
    background: url("../images/cover00.jpg") top left;
    background-size: cover;
    position: relative;
  }



  #sect-entreprise, .container {
    position: relative;
  }

  #sect-entreprise h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #a110ea;
    font-family: "Poppins", sans-serif;
  }

  #sect-entreprise h1 span {
    color: #a110ea;
  }

  #sect-entreprise h2 {
    color: rgb(197, 11, 185);
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 600;
  }
  @media (min-width: 1024px) {
    #sect-entriprise {
      background-attachment: fixed;
    }
  }

  @media (max-width: 768px) {
    #sect-entriprise {
      height: 100vh;
    }

    #sect-entriprise h1 {
      font-size: 28px;
      line-height: 36px;
    }

    #sect-entriprise h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }

  }

  @media (max-height: 500px) {
    #sect-entriprise {
      height: 120vh;
    }
  }



  /*--------------------------------------------------------------
  # section1-offre
  --------------------------------------------------------------*/
  .section1-offre
  {
    padding: 15px 0;
    background: url("https://images7.alphacoders.com/853/853667.jpg") top left;
    background-size: cover;
    min-height: 40px;
    margin-top: 68px;
  }

  .section1-offre h2 {
    font-size: 28px;
    font-weight: 400;
    color: #f5f5fd;
  }

  @media (max-width: 992px) {
    .section1-offre{
      margin-top: 60px;
    }

    .section1-offre.d-flex {
      display: block !important;
    }
  }
  /*--------------------------------------------------------------
# section1-entreprise
--------------------------------------------------------------*/
.section1-entreprise{
    padding: 15px 0;
    background: url("https://th.bing.com/th/id/R.69502ded4f12c9112ef2db53fc82c7f7?rik=aR2gEMOoXt8UZQ&pid=ImgRaw&r=0") top left;
    background-size: cover;
    min-height: 40px;
    margin-top: 68px;
}

.section1-entreprise h2 {
    font-size: 28px;
    font-weight: 400;
    color: #f5f5fd;
}
.section2-offre {
  padding: 40px 0 20px 0;
}

.section2-offre .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.section2-offre .entry .entry-img {
  max-height: 440px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}

.section2-offre .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.section2-offre .entry .entry-title a {
  color: rgb(32, 8, 130);
  transition: 0.3s;
}

.section2-offre .entry .entry-title a:hover {
  color: #d923c7;
}

.section2-offre .entry .entry-meta {
  margin-bottom: 15px;
  color: #c1c8d0;
}

.section2-offre .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.section2-offre .entry .entry-meta ul li+li {
  padding-left: 20px;
}

.section2-offre .entry .entry-meta i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}

.section2-offre .entry .entry-meta a {
  color: #777777;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.section2-offre .entry .entry-content p {
  line-height: 24px;
}

.section2-offre .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}


  /*--------------------------------------------------------------
  # section2-accueil
  --------------------------------------------------------------*/
  .section2-accueil .icon-box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  }

  .section2-accueil .icon-box .icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
  }

  .section2-accueil .icon-box .icon i {
    font-size: 36px;
    transition: 0.5s;
    position: relative;
  }

  .section2-accueil .icon-box .icon svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .section2-accueil .icon-box .icon svg path {
    transition: 0.5s;
    fill: #f5f5f5;
  }

  .section2-accueil .icon-box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
  }

  .section2-accueil .icon-box h4 a {
    color: #434175;
    transition: ease-in-out 0.3s;
  }





  /*--------------------------------------------------------------
  # Features
  --------------------------------------------------------------*/
  .features {
    padding-top: 0;
  }

  .features .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    transition: ease-in-out 0.3s;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }

  .features .icon-box i {
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
  }

  .features .icon-box h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
  }

  .features .icon-box h3 a {
    color: #434175;
    transition: ease-in-out 0.3s;
  }

  .features .icon-box:hover h3 a {
    color: #5a5af3;
  }

  /*--------------------------------------------------------------
  # Portfolio
  --------------------------------------------------------------*/
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }

  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 15px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
  }

  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
  }

  .portfolio #portfolio-flters li:hover,
  .portfolio #portfolio-flters li.filter-active {
    color: #5a5af3;
  }

  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }

  .portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }

  .portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio .portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }

  .portfolio .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }

  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #434175;
    font-weight: 600;
  }

  .portfolio .portfolio-wrap .portfolio-info p {
    color: #434175;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  .portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
  }

  .portfolio .portfolio-wrap .portfolio-links a {
    color: #5a5af3;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
  }

  .portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #1313ee;
  }

  .portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
  }

  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
  }

  .portfolio .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
  }

  .portfolio .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
  }

  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  .portfolio-details {
    padding-top: 40px;
  }

  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }

  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }

  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #5a5af3;
  }

  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #5a5af3;
  }

  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(67, 65, 117, 0.08);
  }

  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }

  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }

  .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
  }

  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }

  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .portfolio-details .portfolio-description p {
    padding: 0;
  }

  /*--------------------------------------------------------------
  # Team
  --------------------------------------------------------------*/
  .team .member {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }

  .team .member .member-img {
    position: relative;
    overflow: hidden;
  }

  .team .member .social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
  }

  .team .member .social a {
    transition: color 0.3s;
    color: #434175;
    margin: 0 10px;
    padding-top: 8px;
    display: inline-block;
  }

  .team .member .social a:hover {
    color: #5a5af3;
  }

  .team .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }

  .team .member .member-info {
    padding: 25px 15px;
  }

  .team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #434175;
  }

  .team .member .member-info span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
  }

  .team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #777777;
  }

  .team .member:hover .social {
    opacity: 1;
  }

  /*--------------------------------------------------------------
  # Pricing
  --------------------------------------------------------------*/
  .pricing .row {
    padding-top: 40px;
  }

  .pricing .box {
    padding: 40px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    background: #fff;
    text-align: center;
  }

  .pricing h3 {
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 28px;
  }

  .pricing h4 {
    font-size: 46px;
    color: #5a5af3;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 25px;
  }

  .pricing h4 span {
    color: #bababa;
    font-size: 18px;
    display: block;
  }

  .pricing ul {
    padding: 0;
    list-style: none;
    color: #999;
    text-align: left;
    line-height: 20px;
  }

  .pricing ul li {
    padding-bottom: 12px;
  }

  .pricing ul i {
    color: #5a5af3;
    font-size: 18px;
    padding-right: 4px;
  }

  .pricing ul .na {
    color: #ccc;
  }

  .pricing ul .na i {
    color: #ccc;
  }

  .pricing ul .na span {
    text-decoration: line-through;
  }

  .pricing .btn-buy {
    background: #434175;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 50px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    transition: 0.3s;
    border: none;
  }

  .pricing .btn-buy:hover {
    background: #5a5af3;
  }

  .pricing .featured {
    z-index: 10;
    margin: -30px -5px 0 -5px;
  }

  .pricing .featured .btn-buy {
    background: #5a5af3;
  }

  .pricing .featured .btn-buy:hover {
    background: #7272f5;
  }

  @media (max-width: 992px) {
    .pricing .box {
      max-width: 60%;
      margin: 0 auto 30px auto;
    }
  }

  @media (max-width: 767px) {
    .pricing .box {
      max-width: 80%;
      margin: 0 auto 30px auto;
    }
  }

  @media (max-width: 420px) {
    .pricing .box {
      max-width: 100%;
      margin: 0 auto 30px auto;
    }
  }

  /*--------------------------------------------------------------
  # Frequently Asked Questions
  --------------------------------------------------------------*/
  .faq {
    padding: 60px 0;
  }

  .faq .faq-list {
    padding: 0;
    list-style: none;
  }

  .faq .faq-list li {
    border-bottom: 1px solid #f2f2fe;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .faq .faq-list .question {
    display: block;
    position: relative;
    font-family: #5a5af3;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 25px;
    cursor: pointer;
    color: #2a2af0;
    transition: 0.3s;
  }

  .faq .faq-list i {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: -2px;
  }

  .faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 25px;
  }

  .faq .faq-list .icon-show {
    display: none;
  }

  .faq .faq-list .collapsed {
    color: black;
  }

  .faq .faq-list .collapsed:hover {
    color: #5a5af3;
  }

  .faq .faq-list .collapsed .icon-show {
    display: inline-block;
    transition: 0.6s;
  }

  .faq .faq-list .collapsed .icon-close {
    display: none;
    transition: 0.6s;
  }

  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
  .contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    background: #fff;
  }

  .contact .info-box i {
    font-size: 32px;
    color: #5a5af3;
    border-radius: 50%;
    padding: 8px;
  }

  .contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
  }

  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }

  .contact .php-email-form {
    background: #fff;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
  }

  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }

  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }

  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }

  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }

  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }

  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }

  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 5px;
  }

  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: #5a5af3;
  }

  .contact .php-email-form input {
    padding: 10px 15px;
  }

  .contact .php-email-form textarea {
    padding: 12px 15px;
  }

  .contact .php-email-form button[type=submit] {
    background: #5a5af3;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }

  .contact .php-email-form button[type=submit]:hover {
    background: #7272f5;
  }

  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }


  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    color: #fafafa;
    font-size: 14px;

    background: #040463;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }

  #footer .footer-top {
    padding: 60px 0 30px 0;
    background-image: url('https://img.freepik.com/vecteurs-libre/abstrait-technologique_23-2148897676.jpg?w=900&t=st=1699546035~exp=1699546635~hmac=69e10e2ce7a89c4fd80e724aaca072ce713d59f325204ee2ac2c1dc9794f9371');
  }

  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }

  #footer .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
  }

  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
  }

  #footer .footer-top h3 {
    font-size: 16px;
    font-weight: bold;
    color: #f3f3f3;
    position: relative;
    padding-bottom: 12px;
  }

  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }

  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #f3f3f3;
    font-size: 18px;
    line-height: 1;
  }

  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }

  #footer .footer-top .footer-links ul a {
    color: #f3f3f3;
    display: inline-block;
    line-height: 1;
  }

  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #5a5af3;
  }

  #footer .footer-newsletter {
    font-size: 15px;
  }

  #footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }

  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #b9b9fa;
  }

  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }

  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #5a5af3;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }

  #footer .footer-newsletter form input[type=submit]:hover {
    background: #7272f5;
  }
