@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    overflow-x: hidden;
  }

  section {
    padding: 60px ;
  }

  .section-bg {
    background-color: #eeeef5;
  }

  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }

  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #434175;
  }

  .section-title p {
    margin-bottom: 0;
  }

.color1{
    color: rgb(157, 17, 222);
}
.btn-bg,
.btn-b
{
    background: linear-gradient(to right, #7f00ff, #e100ff);
    color: rgb(248, 246, 249);
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 5px;
}
.btn-bg:hover{
    border-color: #e100ff;
    color: rgb(66, 7, 202)!important;
    background: white!important;
}
  a {
    text-decoration: none;
    color: rgb(195, 90, 243);
  }

  a:hover {
    color: rgb(195, 90, 243);
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }

  .bouton {
    color: white!important;
    background: linear-gradient(to right, #7f00ff, #e100ff);
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    font-weight: bold;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 5px;
}

.bouton:hover {
    border-color: #e100ff;
    color: rgb(66, 7, 202)!important;
    background: white!important;
}

  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: linear-gradient(to right, #7f00ff, #e100ff);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }

  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }

  .back-to-top:hover {
    background: #e15af3;
    color: #fff;
  }

  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    background: #fff;
  }

  #header.header-scrolled,
  #header.header-inner-pages {
    padding: 12px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }


  #header .logo {
    width: 100px !important;
  }

  @media (max-width: 992px) {
    #header {
      padding: 12px 0;
    }
  }

  @media only screen and (min-width: 1200px) {
    .navbar a,
    .navbar a:focus {
        font-size: 24px; /* Augmenter la taille de la police pour les écrans larges */
    }

    .navbar .getstarted:hover,
    .navbar .getstarted:focus:hover {
        color: #fff;
        background: linear-gradient(to right, #7f00ff, #e100ff);
    }
}

  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/

  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 20px;
    color: rgb(107, 65, 117);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #e15af3;
  }


  .navbar .getstarted:hover,
  .navbar .getstarted:focus:hover {
    color: #fff;
    background: linear-gradient(to right, #7f00ff, #e100ff);
  }



  /**
  * Mobile Navigation
  */
  .mobile-nav-toggle {
    color: #434175;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }

  .mobile-nav-toggle.bi-x {
    color: #fff;
  }

  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }

    .navbar ul {
      display: none;
    }
  }

  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(48, 47, 84, 0.9);
    transition: 0.3s;
  }

  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }

  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #434175;
  }

  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #5a5af3;
  }

  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
    background: linear-gradient(to right, #7f00ff, #e100ff);
  }

  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }



   /*--------------------------------------------------------------
  # Chercheur inscription Menu
  --------------------------------------------------------------*/
  /**
  *
  */

  #sect-cher1
  {
    width: 100%;
    height: 85vh;
    background: url("../images/student.jpg") top right no-repeat;
    background-size: cover;
    position: relative;
  }



  #sect-cher1 h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #ffffff;
  }

  #sect-cher1 h1 span {
    color: #a110ea;
  }

  #sect-cher1 h2 {
    color: #f7f1f1;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
  }

 .btn-get-started {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: #f8f8fe;
    background: #9310ea;
  }


  .btn-get-started:hover {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: rgb(252, 17, 252);
    --btn-bg-2: rgb(59, 12, 214);
    --btn-bg-color: rgb(255, 255, 255);
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.9em 1.4em;
    min-width: 120px;
    min-height: 44px;
    font-size: var(--size, 1rem);
    font-family: "Segoe UI", system-ui, sans-serif;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgba(255, 71, 255, 0.5), 0px 5px 5px -1px rgba(233, 58, 224, 0.25), inset 4px 4px 8px rgba(236, 54, 242, 0.5), inset -4px -4px 8px rgba(216, 19, 213, 0.35);
  }

  .btn-get-started:hover {
    background-position: right top;
  }

  .btn-get-started:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
  }

  @media (prefers-reduced-motion: reduce) {
    .btn-get-started {
      transition: linear;
    }
  }
  @media (min-width: 1024px) {
    #sect-cher1 {
      background-attachment: fixed;
    }
  }

  @media (max-width: 768px) {
    #sect-cher1{
      height: 100vh;
    }

    #sect-cher1 h1 {
      font-size: 28px;
      line-height: 36px;
    }

    #sect-cher1 h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }

  }

  @media (max-height: 500px) {
    #sect-entriprise {
      height: 120vh;
    }
  }



  /*--------------------------------------------------------------
  # section1-accueil Section
  --------------------------------------------------------------*/
  #section1-accueil {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(195, 10, 232, 0.5), rgba(0, 0, 0, 0.5)), url("../images/accueil22.jpg") top left;
    background-size: cover;
    position: relative;
  }



  #section1-accueil, .container {
    position: relative;
  }


  #section1-accueil h1  {
    color: #faf8fa;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }

  #section1-accueil h2 {
    color: #ffffff;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
  }





  @media (min-width: 1024px) {
    #section1-accueil {
      background-attachment: fixed;
    }
  }

  @media (max-width: 768px) {
    #section1-accueil {
      height: 100vh;
    }

    #section1-accueil h1 {
      font-size: 28px;
      line-height: 36px;
    }

    #section1-accueil h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }

  }

  @media (max-height: 500px) {
    #section1-accueil {
      height: 120vh;
    }
  }


  /*--------------------------------------------------------------
  # section3-accueil Section
  --------------------------------------------------------------*/
  .section3-accueil{
    background: linear-gradient(rgba(195, 10, 232, 0.5), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/vecteurs-libre/concept-fond-technologie-blanche_23-2148403398.jpg?w=826&t=st=1701296358~exp=1701296958~hmac=47e4afa3fd6a1484d19ea5b85617ca1a7504731106fe916e89c26fe772899bd3") top left!important;
    background-size: cover !important;
    position: relative;
  }


  #section3-accueil, .container {
    position: relative;
  }
  .section3-accueil .icon-box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #ffffff;
    box-shadow: 0px 0 20px 0 #f2f0f2;

  }

  .section3-accueil .icon-box .icon {
    margin: 0 auto;
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
  }

  .section3-accueil .icon-box .icon i {
    font-size: 36px;
    transition: 0.5s;
    position: relative;
  }

  .section3-accueil .icon-box .icon svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .section3-accueil .icon-box .icon svg path {
    transition: 0.5s;
    fill: #f5f5f5;
  }

  .section3-accueil .icon-box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
  }

  .section3-accueil .icon-box h4 a {
    color: #434175;
    transition: ease-in-out 0.3s;
  }



  /* #section3-accueil {
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(195, 10, 232, 0.5), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/photos-gratuite/concept-rpa-ecran-tactile-flou-main_23-2149311914.jpg?w=826&t=st=1701292354~exp=1701292954~hmac=97b7af344382a2de1946bfc79905f27dd379065751543ad97e4f1b6f94a059a3") top left;
    background-size: cover;
    position: relative;
  }



  #section3-accueil, .container {
    position: relative;
  }
  @media (min-width: 1024px) {
    #section3-accueil {
      background-attachment: fixed;
    }
  }

  @media (max-width: 768px) {
    #section3-accueil {
      height: 100vh;
    }

    #section3-accueil h1 {
      font-size: 28px;
      line-height: 36px;
    }

    #section3-accueil h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }

  }

  @media (max-height: 500px) {
    #section3-accueil {
      height: 120vh;
    }
  } */


  /*--------------------------------------------------------------
  #sect-entreprise Section
  --------------------------------------------------------------*/
  #sect-entreprise {
    width: 100%;
    height: 75vh;
    position: absolute;
    background: url("../images/cover00.jpg") top left;
    background-size: cover;
    position: relative;
  }



  #sect-entreprise, .container {
    position: relative;
  }

  #sect-entreprise h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #a110ea;
    font-family: "Poppins", sans-serif;
  }

  #sect-entreprise h1 span {
    color: #a110ea;
  }

  #sect-entreprise h2 {
    color: rgb(197, 11, 185);
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 600;
  }
  @media (min-width: 1024px) {
    #sect-entriprise {
      background-attachment: fixed;
    }
  }

  @media (max-width: 768px) {
    #sect-entriprise {
      height: 100vh;
    }

    #sect-entriprise h1 {
      font-size: 28px;
      line-height: 36px;
    }

    #sect-entriprise h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }

  }

  @media (max-height: 500px) {
    #sect-entriprise {
      height: 120vh;
    }
  }



  /*--------------------------------------------------------------
  # section1-offre
  --------------------------------------------------------------*/
  .section1-offre
  {
    padding: 15px 0;
    background: linear-gradient(rgba(195, 10, 232, 0.5), rgba(0, 0, 0, 0.5)), url("../images/offres2.jpg") top left;
    background-size: cover;
    height: 500px;
    margin-top: 100px;
  }

  .section1-offre h2 {
    margin-top: 100px;
    font-size: 28px;
    font-weight: 400;
    color: #f5f5fd;
  }

  @media (max-width: 992px) {
    .section1-offre{
      margin-top: 60px;
    }

    .section1-offre.d-flex {
      display: block !important;
    }
  }



  /*--------------------------------------------------------------
  # section1-candidat
  --------------------------------------------------------------*/
  .section1-candidat {
    padding: 15px 0;
    background: linear-gradient(rgba(195, 10, 232, 0.5), rgba(0, 0, 0, 0.5)), url("../images/candidats.jpg") top left;
    background-size: cover;
    height: 400px;
    margin-top: 68px;
    color: white;
}

  .section1-candidat h2 {
    font-size: 28px;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }

  @media (max-width: 992px) {
    .section1-candidat{
      margin-top: 60px;
    }

    .section1-candidat.d-flex {
      display: block !important;
    }
  }




    /*--------------------------------------------------------------
  # section1-confirmation
  --------------------------------------------------------------*/

  .section1-confirmation
  {
    padding: 100x 0;
    background: url("https://i.pinimg.com/originals/99/13/ef/9913efe4381c66d3e741852ad7f08f04.jpg") top left;
    background-size: cover;
    height: 600px;
    margin-top: 68px;
  }

  .section1-confirmation {
    font-size: 28px;
    font-weight: 400;
    color: #f5f5fd;
  }

  @media (max-width: 992px) {
    .section1-confirmation{
      margin-top: 60px;
    }

    .section1-confirmation.d-flex {
      display: block !important;
    }
  }
  /*--------------------------------------------------------------
# section1-entreprise
--------------------------------------------------------------*/
.section1-entreprise{
    padding: 15px 0;
    background: linear-gradient(rgba(195, 10, 232, 0.5), rgba(0, 0, 0, 0.5)), url("../images/entreprise.jpg") top left;
    background-size: cover;
    height: 600px;
}

.section1-entreprise h2 {
    font-size: 28px;
    font-weight: 400;
    color: #f5f5fd;
}
.section2-offre {
  padding: 40px 0 20px 0;
}

.section2-offre .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.section2-offre .entry .entry-img {
  max-height: 440px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}

.section2-offre .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.section2-offre .entry .entry-title a {
  color: rgb(32, 8, 130);
  transition: 0.3s;
}

.section2-offre .entry .entry-title a:hover {
  color: #d923c7;
}

.section2-offre .entry .entry-meta {
  margin-bottom: 15px;
  color: #c1c8d0;
}

.section2-offre .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.section2-offre .entry .entry-meta ul li+li {
  padding-left: 20px;
}

.section2-offre .entry .entry-meta i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}

.section2-offre .entry .entry-meta a {
  color: #777777;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.section2-offre .entry .entry-content p {
  line-height: 24px;
}

.section2-offre .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}


  /*--------------------------------------------------------------
  # section2-accueil
  --------------------------------------------------------------*/




  .section2-accueil .icon-box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #ffffff;
    box-shadow: 0px 0 20px 0 #f2f0f2;
  }

  .section2-accueil .icon-box .icon {
    margin: 0 auto;
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
  }

  .section2-accueil .icon-box .icon i {
    font-size: 36px;
    transition: 0.5s;
    position: relative;
  }

  .section2-accueil .icon-box .icon svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .section2-accueil .icon-box .icon svg path {
    transition: 0.5s;
    fill: #f5f5f5;
  }

  .section2-accueil .icon-box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
  }

  .section2-accueil .icon-box h4 a {
    color: #434175;
    transition: ease-in-out 0.3s;
  }





  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    color: #fafafa;
    font-size: 14px;
    background: #040463;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }

  #footer .footer-top {
    padding: 60px 0 30px 0;
    background-image: url('https://img.freepik.com/vecteurs-libre/abstrait-technologique_23-2148897676.jpg?w=900&t=st=1699546035~exp=1699546635~hmac=69e10e2ce7a89c4fd80e724aaca072ce713d59f325204ee2ac2c1dc9794f9371')  top right no-repeat;
  }

  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }

  #footer .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
  }

  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
  }

  #footer .footer-top h3 {
    font-size: 16px;
    font-weight: bold;
    color: #f3f3f3;
    position: relative;
    padding-bottom: 12px;
  }

  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }

  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #f3f3f3;
    font-size: 18px;
    line-height: 1;
  }

  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }

  #footer .footer-top .footer-links ul a {
    color: #f3f3f3;
    display: inline-block;
    line-height: 1;
  }

  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #5a5af3;
  }




