@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --violet: #a218b4;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
  }

body {
  min-height: 100vh;
  overflow-x: hidden;

}
.bouton {
    color: white!important;
    background: linear-gradient(to right, #0004ff, #a218b4);
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
  }

  .bouton:hover {
    border-color: #c403dd;
    color: rgb(66, 7, 202)!important;
    background:white!important;

  }
  .color1{
    color: #950EB0!important;
  }


  .sidebar, .sidebar-brand, .sidebar-nav, .sidebar-item, .sidebar-link {
    background-color:#950EB0!important;
    color: #f3f3f3!important;
    font-size: 16px!important; /* Adjust the font size as needed */
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1)!important;; /* Adjust shadow values as needed */
}

.sidebar-brand {
    background-color: #950EB0!important;
    font-size: 16px!important;
    box-shadow: 0 2px 10px rgba(230, 207, 207, 0.1);
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 5px solid white;
}

.sidebar-brand .sidebar-brand-text {
    display: none;
}

.sidebar-brand::before {
    content: "";
    display: inline-block;
    width: 150px;
    height: 100px;
    background-image: url('../images/logo1.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}


.navbar-bg {
    background-color: #950EB0!important;
    color: #f3f3f3!important;
    font-size: 16px!important;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1)!important;
}

.navbar-brand {
    background-color: #950EB0!important;
    font-size: 16px!important;
    box-shadow: 0 2px 10px rgba(230, 207, 207, 0.1);
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar-nav .nav-item {
    background-color: #950EB0!important;
}

.nav-link {
    color: #f3f3f3!important;
}
.cardBox1 {
    background-image: url('https://img.freepik.com/photos-gratuite/fond-texture-mur-peint-blanc_53876-138197.jpg?w=826&t=st=1700409119~exp=1700409719~hmac=9f6ae6988ea92e9be201b276b4de4e4002a8aa2fc626dece28de34922e6ac0c3');
    background-size: cover;
    background-position: center;

  }


  .card p {
    margin: 0; /* Réinitialise la marge du paragraphe à l'intérieur de la boîte */
    font-size: 16px;
    color: #fdfdfd;
  }
  .cardBox {
    background-image: url('https://img.freepik.com/psd-gratuit/fond-fumee-bleu-violet-ia-generative_587448-1922.jpg?w=1060&t=st=1700409820~exp=1700410420~hmac=69c70b6f256e625a3ea60d521318cd0877011a1b5868f1e436a0f94d319a6610');
    background-size: cover;
    background-position: center;
    position: relative;

  }

  /* Ajoutez ce style à votre fichier CSS ou dans une balise <style> dans l'en-tête de votre document HTML */

/* Style pour la carte qui contient le calendrier */
.card {
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style pour l'en-tête de la carte */
.card-header {
    background-color: #ebeef1;
    color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 15px 15px 0 0;
}

/* Style pour le titre de la carte */
.card-title {
    margin-bottom: 0;
}

/* Style pour le corps de la carte */
.card-body {
    padding: 20px;
}

/* Style pour le conteneur du calendrier */
.chart {
    width: 100%;
    height: 400px; /* Ajustez la hauteur selon vos besoins */
}

/* Style pour les boutons du calendrier */
.fc-button {
    color: white!important;
    background: linear-gradient(to right, #0004ff, #a218b4)!important;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

/* Style pour les boutons de navigation du calendrier */
.fc-header-toolbar button {
    background: linear-gradient(to right, #0004ff, #a218b4)!important;
    color: #ffffff;
}

/* Style pour le texte de l'en-tête du calendrier */
#calendarTitle {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #9b0396;
}
